<div class="contenedor">
    <h1 *ngIf="!edit">Crear Usuario</h1>
    <h1 *ngIf="edit">Editar Usuario</h1>
    <form [formGroup]="formUser" (ngSubmit)="createUserEditUser()">
        <div class="name">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input #name matInput name="name" type="text" formControlName="name" />
            </mat-form-field>
            <div *ngIf="formUser.get('name')?.touched && formUser.get('name')?.invalid">
                El nombre debe tener al menos 4 caracteres.
            </div>
        </div>

        <div class="email">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="name" placeholder="Juan Perez">
            </mat-form-field>
            <div *ngIf="formUser.get('email')?.touched && formUser.get('email')?.invalid">
                El email no es valido
            </div>
        </div>

        <div class="password">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Ex. pat@example.com">
            </mat-form-field>
        </div>

        <div class="rol">

            <mat-form-field appearance="fill">
                <mat-label>Rol </mat-label>
                <mat-select formControlName="role_id" name="food">
                    <mat-option>Seelccionar un rol</mat-option>
                  <mat-option *ngFor="let rol of roles" [value]="rol.id">
                    {{rol.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="fotoPerfil">
            <mat-label>Subir Imagen</mat-label>
            <input type="file" name="image" formControlName="profile_image"(change)="fileChange($event)">
          
        </div>

        <div class="address">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Direccion</mat-label>
                <input type="address" matInput formControlName="address" placeholder="calle san juan 705">
            </mat-form-field>
            <button mat-raised-button (click)="openDialog()">Ver en mapa</button>
        </div>


        <div class="botones">
            <button mat-raised-button color="primary" *ngIf="!edit">Crear</button>
            <button mat-raised-button color="primary" *ngIf="edit">Editar</button>
        </div>

    </form>
</div>