<div class="title">
    <h2>Últimas novedades</h2>
    <h4>Ver todos</h4>
</div>
<div class="news">
    <div class="card">
        <img src="../../../../../assets/image/Fotos-20220917T022313Z-001/Fotos/Foto 4.jpg" alt="">
        <div class="description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptatibus odit autem, nisi similique cum itaque cumque aspernatur quis obcaecati optio eum perferendis ducimus. Voluptatem distinctio provident asperiores quis ex.</p>
            <button> Ver </button>
        </div>
    </div>

    <div class="card">
        <img src="../../../../../assets/image/Fotos-20220917T022313Z-001/Fotos/Foto 5.jpg" alt="">
        <div class="description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptatibus odit autem, nisi similique cum itaque cumque aspernatur quis obcaecati optio eum perferendis ducimus. Voluptatem distinctio provident asperiores quis ex.</p>
            <button> Ver </button>
        </div>
    </div>

    
</div>