<div class="user">
    <h1>User List</h1>
    <button id="new" (click)="create()"> + New User</button>
    
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Actions</td>
               </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of info">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button id="edit">Editar</button>
                    <button id="delete">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    
</div>