<app-navbar></app-navbar>
<div class="home">
    <div class="welcome">
        <div class="presentation">
            <h1>Hola! Bienvenidos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur cum quisquam explicabo quidem dignissimos ex
                temporibus facilis optio? Rerum voluptas perspiciatis quae quos fugit officia, tempora porro ducimus suscipit
                voluptate?
            </p>
            <button>Contactanos</button>
        </div>
        <div id="imgPresentation">
            <app-slides-form></app-slides-form>
        </div>
    </div>

    <div class="title">
        <app-list-about></app-list-about>
    </div>
    <ul class="slider">
        <li>
            <img src="../../../../../assets/image/staff/Cecilia Mendez.jpeg" alt="">
            <div class="description">
                <h1>Lucrecia Roldan</h1>
                <h4>CoFounder</h4>
            </div>
        </li>
    
        <li>
            <img src="../../../../../assets/image/staff/Cecilia Mendez.jpeg" alt="">
            <div class="description">
                <h1>Lucrecia Roldan</h1>
                <h4>CoFounder</h4>
            </div>
        </li>
    
        <li>
            <img src="../../../../../assets/image/staff/Miriam Rodriguez.jpg" alt="">
            <div class="description">
                <h1>Lucrecia Roldan</h1>
                <h4>CoFounder</h4>
            </div>
        </li>
    </ul>
    <div class="title">
        <h2>Testimonios</h2>
        <a href="testimonios">Ver Todo > </a>
    </div>
    <div>
        <div class="title">
            <h2>Últimas Novedades</h2>
            <a href="newsViewAll">Ver Todos > </a>
        </div>
        <div class="news">
            <app-news-view></app-news-view>
        </div>
    </div>
    
</div>
<app-footer></app-footer>