<div class="home">
    <div class="welcome">
        <div class="presentation">
            <h1>Hola! Bienvenidos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur cum quisquam explicabo quidem dignissimos ex
                temporibus facilis optio? Rerum voluptas perspiciatis quae quos fugit officia, tempora porro ducimus suscipit
                voluptate?
            </p>
            <button>Contactanos</button>
        </div>
        <div id="imgPresentation">
            <img src="../../../../assets/image/Rectangle 4.jpg" alt="imagenPresentacion">
        </div>
    </div>
    <app-slides-form></app-slides-form>
</div>
