.home{
    margin-inline: 5%;
}
.welcome{
    display: flex;
    justify-content: space-between;
}
.presentation{
    width: 50%;
    margin: 3em;
    text-align: center;
}

.presentation button{
    background-color:#FF0000;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
}

#imgPresentation{
    align-items: center;
    text-align: center;
    width: 65%;
}

.title{
    display: flex;
    justify-content: space-between;
    a{
        color: black;
    }
}

ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;
}
img{    
    width: 300px;
    height: auto;
   border-radius: 10px;
}

.description{
    position: relative;
    top: -23%;
    text-align: center;
}
app-news-view{
   display: flex;
   justify-content: space-evenly;
}