<app-navbar></app-navbar>
<div class="home">
    <!-- Bienvenida-->
    <section class="welcome">
        <div class="presentation">
            <h1>Hola! Bienvenidos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur cum quisquam explicabo quidem dignissimos ex
                temporibus facilis optio? Rerum voluptas perspiciatis quae quos fugit officia, tempora porro ducimus suscipit
                voluptate?
            </p>
            <button>Contactanos</button>
        </div>
        <div id="imgPresentation">
            <app-slides-form></app-slides-form>
        </div>
    </section>

    <!-- Nuestro Staff -->
    <section>
        <div class="title">
            <h2>Nuestro Staff</h2>
            <a href="nosotros">Ver Todo > </a>
        </div>
        <div class="miembros">
            <app-list-about [limiteStaff]="true"></app-list-about>
        </div>
    </section>

    <!-- Testimonio-->
    <section>
        <div class="title">
            <h2>Testimonios</h2>
            <a href="testimonios">Ver Todo > </a>
        </div>
        <div class="miembros">
            <app-testimonial-list [limiteTestimonio]="true"></app-testimonial-list>
        </div>
    </section>

    <!-- Ultimas Novedades-->
    <section>
        <div class="title">
            <h2>Últimas Novedades</h2>
            <a href="novedades">Ver Todos > </a>
        </div>
        <div class="news">
            <app-news-view></app-news-view>
        </div>
    </section>
</div>
<app-footer></app-footer>