<!--Titulo de la pagina-->
<app-head-title [title]="title" [alignTextCenter]="true"></app-head-title>
<div class="container d-flex flex-column">
    <!--Botón para agregar una nueva categoría-->
    <button mat-raised-button (click)="openSaveDialogForm()" class="my-4">
        <mat-icon>add</mat-icon> Crear categoría
    </button>
    <app-search-form (searchEmitter)="handleSearch($event)"></app-search-form>
    <!--Aquí se inyecta la data que estará pintándose en la tabla-->
    <table mat-table [dataSource]="categories" class="mat-elevation-z8 text-center">
        <!--Aqui se definen las columnas universalmente que pertenecerán a cada fila relacionada-->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Id </th>
            <td mat-cell *matCellDef="let category"> {{category.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
            <td mat-cell *matCellDef="let category"> {{category.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Descripción </th>
            <td mat-cell *matCellDef="let category" [innerHtml]="category.description"></td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Imágen </th>
            <td mat-cell *matCellDef="let category">
                <!--Boton que abre un dialogo para visualizar la imagen-->
                <button mat-icon-button (click)="openImageDialog(category.image, category.name)">
                    <mat-icon>image</mat-icon>
                </button> 
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
            <!--Botones que abren dialogos para editar y eliminar categorias-->
            <td mat-cell *matCellDef="let category">
                <button mat-icon-button (click)="openEditDialogForm(category.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="openDeleteDialogForm(category.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <!--Aqui se definen cuales y cuantas seran las filas a ser renderizadas en la tabla-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!--Esta es la informacion que se muestra por defecto si los resultados
        no coinciden con el filtro-->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Resultados de "{{filtroValor}}" no encontrados</td>
        </tr>
    </table>
</div>