.title{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
img{    
    width: 300px;
    height: auto;
   border-radius: 10px;
}

.description{
    position: relative;
    top: -23%;
    text-align: center;
}