<app-carousel [info]="datosSlides" [autoSlides]="true"></app-carousel>
<div class="title">
    <h2>Nuestro staff</h2>
    <h4>Ver todos</h4>
</div>
<ul class="slider">
    <li>
        <img src="../../../../../assets/image/staff/Cecilia Mendez.jpeg" alt="">
        <div class="description">
            <h1>Lucrecia Roldan</h1>
            <h4>CoFounder</h4>
        </div>
    </li>

    <li>
        <img src="../../../../../assets/image/staff/Cecilia Mendez.jpeg" alt="">
        <div class="description">
            <h1>Lucrecia Roldan</h1>
            <h4>CoFounder</h4>
        </div>
    </li>

    <li>
        <img src="../../../../../assets/image/staff/Miriam Rodriguez.jpg" alt="">
        <div class="description">
            <h1>Lucrecia Roldan</h1>
            <h4>CoFounder</h4>
        </div>
    </li>
</ul>

