.carousel{
    position: inherit;
    text-align: center;
    width: 80%;
    border-radius: 15px;
    margin: 2em auto;
    padding: 0.5em;
    background-color:  #9e27271a;
}
.carousel .card{
    display: none;
    border-radius: 15px;
    border: none;
}

.carousel .card.card-active {
    display: block;
    width: 90%;
    margin: auto;
}
.carousel .card.card-active img{
    width: 330px;
    height: 200px;
}

.btn-carousel{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    width: 25%;
    align-items: center;
    cursor:pointer;
    justify-content: center;
    background: 0 0;
}
.btn-back{
    left: -9%;
}
.btn-next{
    right: -9%;
}
.icon-carousel{
    color: #9e2727;
    opacity: 0.5;;
    transition: all 0.15s ease;
}
.icon-carousel:hover{
    opacity: 0.9;
}
.icon-carousel:active{
    opacity: 0.5;
}
.icon-back, .icon-next{
    font-size: 3em;
}