<div class="nav-layer w-100">
    <div class="nav-container">
        <div class="nav-logo">
            <img src="../../../assets/image/Logo_somos_mas.png" class="nav-logo" alt=""/>
        </div>

        <ul class="nav-list">
            <a href="" class="black-text poppins link">
                <li class="nav-item">Inicio</li>
            </a>
            <a href="" class="black-text poppins link">
                <li class="nav-item">Nosotros</li>
            </a>
            <a href="" class="black-text poppins link">
                <li class="nav-item">Novedades</li>
            </a>
            <a href="" class="black-text poppins link">
                <li class="nav-item">Testimonios</li>
            </a>
            <a href="contacto" class="black-text poppins link">
                <li class="nav-item">Contacto</li>
            </a>
            <a href="" class="black-text poppins link">
                <li class="nav-item">Contribuye</li>
            </a>
        </ul>
        <div class="btn-block">
            <a href="contacto" class="b login poppins-bold" mat-raised-button>Log In</a>
            <a href="contacto" class="b register poppins-bold" mat-raised-button>Registrate</a>
        </div>

    </div>
</div>