<div class="contenedor">
    <form action="" class="formulario">
        <legend>¿Tienes algo que contarnos? ¡Nos encantaria saberlo!</legend>
        <div class="input-block">
            <input type="text" class="input" placeholder="Name">
        </div>
        <div class="input-block">
            <input type="text" class="input" placeholder="E-mail">
        </div>
        <div class="input-block">
            <input type="text" class="input" placeholder="Phone">
        </div>
        <div class="input-block">
            <textarea class="text-area" placeholder="Message" cols="30" rows="5" ></textarea>
        </div>
    </form>
</div>
