<form class="container fadeIn first my-4"
      [formGroup]="formu"
      (ngSubmit)="enviar()"
      >
    <div class="editar" style=" overflow-wrap: break-word;">
      <h1 class="text-editar">Editar los datos de la Organización</h1> 
     <div class=" cont-btn d-flex">
      <a *ngIf="!editar" class="btn  btn-editar" 
                (click)="editar=!editar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <svg style="width:24px;height:24px; color: blue;" viewBox="0 0 24 24">
            <path fill="currentColor" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
        </svg>   
    </a>
      <button *ngIf="editar" type="submit" class="btn btn-guardar  fadeIn first">Guardar</button>
      <button *ngIf="editar" type="button" class="btn btn-cancelar fadeIn first" (click)="cancelar()">Cancelar</button>
     </div>
    </div>
      <div class="main-body" style="position: relative;">
  
            <div class="row">
              <div class="col-md-4 mb-3" style="max-height: max-content;">
                <div class="card card-logo">
                  <div class="card-body">
                    <div class="d-flex logo" >
                      <div class="log" style=" position: relative; overflow: hidden;">
                        <div  *ngIf="editar" class="file-select" id="src-file1" >
                          <input type="file"
                           name="src-file1" 
                           aria-label="Archivo" 
                           (change)="_serviceEdit.putImg($event) "
                           >
                        </div>
                        <img *ngIf="_serviceEdit.img?.length===0" style="object-fit: cover; border-radius: 10px; overflow: hidden;"
                        class="rounded-circle" width="150"
                        [src]="organizacion?.logo" [alt]="'logo de ' + organizacion?.name" > 
                        <img *ngIf="_serviceEdit.img?.length!==0" style="object-fit: cover; border-radius: 10px; overflow: hidden;"
                        class="rounded-circle" width="150"
                        [src]="_serviceEdit.img"  > 
                      </div>
                      <div class="mt-3" style="margin-top: 3px;">
                        <h4    *ngIf="!editar" class="fadeIn first" style="text-align: center;">{{organizacion?.name}}</h4>
                        <p class="alert"
                          *ngIf="nameNoValido">Nombre no valido</p>
                        <input *ngIf="editar"  
                                class="fadeIn first" 
                                [class.valid]="this.formu.get('name')?.valid"
                                [class.invalid]="nameNoValido"
                                type="text" 
                                placeholder="Nombre de la ONG"
                                formControlName="name"
                                >
                     </div>
                    </div>
                  </div>
                </div>
                <div class="card card-redes mt-3">
                  <h4 class="card-header text-center">Redes sociales</h4>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex  flex-wrap">
                      <svg style="width:24px;height:24px; color: blue;" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z" />
                    </svg>&nbsp;
                        <a      *ngIf="!editar"  class="fadeIn first" target="_blank" [href]="organizacion?.linkedin_url">{{organizacion?.linkedin_url.substring(25,organizacion?.linkedin_url.length)}}</a>
                        <p class="alert"
                            *ngIf="linkedinNoValido">Url invalida</p>
                        <input  *ngIf="editar"
                                class="fadeIn first "
                                [class.valid]="this.formu.get('linkedin_url')?.valid"
                                [class.invalid]="linkedinNoValido"
                                type="url" 
                                placeholder="Ingrese su url de linkedin"
                                formControlName="linkedin_url"
                                >
                    </li>
                    <li class=" list-group-item d-flex  flex-wrap">
                        <svg style="width:24px;height:24px; color: rgb(82, 95, 54);" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M20,15.5C18.8,15.5 17.5,15.3 16.4,14.9C16.3,14.9 16.2,14.9 16.1,14.9C15.8,14.9 15.6,15 15.4,15.2L13.2,17.4C10.4,15.9 8,13.6 6.6,10.8L8.8,8.6C9.1,8.3 9.2,7.9 9,7.6C8.7,6.5 8.5,5.2 8.5,4C8.5,3.5 8,3 7.5,3H4C3.5,3 3,3.5 3,4C3,13.4 10.6,21 20,21C20.5,21 21,20.5 21,20V16.5C21,16 20.5,15.5 20,15.5M5,5H6.5C6.6,5.9 6.8,6.8 7,7.6L5.8,8.8C5.4,7.6 5.1,6.3 5,5M19,19C17.7,18.9 16.4,18.6 15.2,18.2L16.4,17C17.2,17.2 18.1,17.4 19,17.4V19Z" />
                        </svg>&nbsp;

                        <a      *ngIf="!editar"  class="fadeIn first" [href]="'tel:'+organizacion?.phone">{{organizacion?.phone}}</a> 
                        <p class="alert"
                           *ngIf="phoneNoValido">Url invalida</p>
                        <input  *ngIf="editar"
                                class="fadeIn first"
                                [class.valid]="this.formu.get('phone')?.valid"
                                [class.invalid]="phoneNoValido" 
                                type="tel" 
                                placeholder="Ingrese un numero de telefono"
                                formControlName="phone"
                                >
                    </li>
                    <li class="list-group-item d-flex  flex-wrap">
                      <svg style="width:24px;height:24px; color: rgb(222, 0, 233);" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                    </svg>&nbsp;
                    
                    <a      *ngIf="!editar"  class="fadeIn first" target="_blank" [href]="organizacion?.instagram_url">{{organizacion?.instagram_url.substring(26,organizacion?.instagram_url.length)}}</a>
                    <p class="alert"
                        *ngIf="instagramNoValido">Url invalida</p>
                    <input  *ngIf="editar"   
                            class="fadeIn first"
                            [class.valid]="this.formu.get('instagram_url')?.valid"
                            [class.invalid]="instagramNoValido" 
                            type="url" 
                            placeholder="Ingrese su url de instagram"
                            formControlName="instagram_url"
                            >
                  </li>
                  <li class="list-group-item d-flex  flex-wrap">
                      <svg style="width:24px;height:24px; color: rgb(0, 60, 255);" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" />
                      </svg>  &nbsp;
                      
                      <a      *ngIf="!editar"  class="fadeIn first" target="_blank" [href]="organizacion?.facebook_url">{{organizacion?.facebook_url.substring(25,organizacion?.facebook_url.length)}}</a> 
                      <p class="alert"
                         *ngIf="facebookNoValido">Url invalida</p>
                      <input  *ngIf="editar"
                              class="fadeIn first"
                              [class.valid]="this.formu.get('facebook_url')?.valid"
                              [class.invalid]="facebookNoValido"  
                              type="url" 
                              placeholder="Ingrese su url de facebook"
                              formControlName="facebook_url"
                              >
                    </li>
                  <li class="list-group-item d-flex  flex-wrap">
                    <svg style="width:24px;height:24px; color: rgb(4, 188, 250);" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                  </svg>  &nbsp; 
                      <a      *ngIf="!editar"  class="fadeIn first" target="_blank" [href]="organizacion?.twitter_url">{{organizacion?.twitter_url.substring(24,organizacion?.twitter_url.length)}}</a> 
                      <p class="alert"
                         *ngIf="twitterNoValido">Url invalida</p>
                      <input  *ngIf="editar"
                              class="fadeIn first"
                              [class.valid]="this.formu.get('twitter_url')?.valid"
                              [class.invalid]="twitterNoValido" 
                              type="url" 
                              placeholder="Ingrese su url de twitter"
                              formControlName="twitter_url"
                              >
                    </li>
                  </ul>
                </div>
              </div>  
  
              <div class="col-md-8">
                <div class="card mb-3">
                  <h3 class="card-header text-center">
                     Descripción corta
                  </h3>
                  <div class="card-body">
                        <p          *ngIf="!editar" class="fadeIn first" style="text-align: justify;color: #495057;" [innerHTML]="organizacion?.short_description"></p> 
                        <!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor> -->
                        
                  <p class="alert"
                     *ngIf="shortNoValido">Este campo no puede estar vacío</p>
                        <ckeditor   *ngIf="editar"
                                    class="fadeIn first"
                                    [class.valid]="this.formu.get('short_description')?.valid"
                                    [class.invalid]="shortNoValido" 
                                    formControlName="short_description"
                                    ></ckeditor> 
                  </div>
                </div>
                <div class="card mb-3">
                  <h3 class="card-header text-center">
                      Descripción larga
                  </h3>
                  <div class="card-body">
                    <p         *ngIf="!editar"  class="fadeIn first" [innerHtml]="organizacion?.long_description |sanitizeHtml" style="text-align: justify;color: #495057;"></p>
                    <p class="alert"
                      *ngIf="longNoValido">Este campo no puede estar vacío</p>
                    <textarea  *ngIf="editar"
                                class="fadeIn first"
                                [class.valid]="this.formu.get('long_description')?.valid"
                                [class.invalid]="longNoValido" 
                                name="" 
                                id="" 
                                rows="auto" 
                                class="text-area" 
                                placeholder="Ingrese una descripción mas detallada"
                                formControlName="long_description"
                                ></textarea>  
                </div>
                </div>
  
              </div>
            </div>
            <div class="col">
              <p style="text-align: center; color: rgb(7, 17, 163);">Ultima actualización en {{organizacion?.updated_at | date:'medium'}}</p>
            </div>
  
      </div>
</form>