
<router-outlet></router-outlet>
<div class="backoffice">
  <h2 id="titleConfig">Configuraciones <i class="fa-solid fa-gear"></i></h2>
  <div class="cards">
      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Novedades  </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <i class="fa-regular fa-newspaper"></i>
          </mat-card-content>
          <button mat-raised-button color="primary" (click)="irNovedades()">Ir</button>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Actividades </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <i class="fa-solid fa-list-check"></i>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="irActividades()">Ir</button>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Categorias </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <i class="fa-solid fa-folder-open"></i>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="irCategorias()">Ir</button>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Testimonios </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <i class="fa-solid fa-comment-dots"></i>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="irTestimonios()">Ir</button>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Organizacion </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <i class="fa-solid fa-sitemap"></i>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="irOrganizacion()">Ir</button>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Slides </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <i class="fa-brands fa-slideshare"></i>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="irSlides()">Ir</button>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Usuarios  </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <i class="fa-solid fa-users"></i>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="irUsuarios()">Ir</button>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Miembros  </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <i class="fa-solid fa-people-group"></i>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="irMiembros()">Ir</button>
      </mat-card>

  </div>
</div>
