<h2 id="titleConfig">Configuraciones <i class="fa-solid fa-gear"></i></h2>
<div class="cards">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Usuarios  <i class="fa-sharp fa-solid fa-users"></i></mat-card-title>
        </mat-card-header>
        <button mat-raised-button color="accent" routerLink="users">Ver lista usuarios</button>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Testimonios <i class="fa-solid fa-file-pen"></i></mat-card-title>
        </mat-card-header>
        <button mat-raised-button color="accent" routerLink="testimonios">Ver testimonios</button>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Novedades  <i class="fa-solid fa-folder-open"></i></mat-card-title>
        </mat-card-header>
        <button mat-raised-button color="accent" routerLink="news">Ver Novedades</button>
    </mat-card>

</div>
  