.container{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
}

.image img{
    box-shadow: 2px 2px 2px 2px;
    width: 30%;
    height: 30%;
}

.image{
    margin-top:60px;
}

.content{
    margin-top: 60px;
}


