/* You can add global styles to this file, and also import other style files */
$color-verde:rgb(5, 194, 5);
.poppins-bold{
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.center-text{
    text-align: center;
}

.black-text{
    color: black;
}

.green-text{
    color: $color-verde;
}
.green-bg{
    background-color: $color-verde;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Dancing Script', cursive; font-family: Poppins, sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
