<div class="footer w-100 pie-contenedor d-flex flex-column poppins">
    
    <!--Panel de navegacion-->
    <div class="footerbar d-flex flex-column">
        <!--logo-->
        <img src="../../../assets/image/Logo_somos_mas.png" alt="" class="logo img">
        <ul class="nav-list d-flex flex-row">
            <a href="" class="nav-item black-text">
                <li>Inicio</li>
            </a>
            <a href="" class="nav-item black-text">
                <li>Nosotros</li>
            </a>
            <a href="" class="nav-item black-text">
                <li>Novedades</li>
            </a>
            <a href="" class="nav-item black-text">
                <li>Testimonio</li>
            </a>
            <a href="/contacto" class="nav-item black-text">
                <li>Contacto</li>
            </a>
            <a href="" class="nav-item black-text">
                <li>Contribuye</li>
            </a>
        </ul>
    </div>
    <!--Derechos de autor-->
    <div class="subtitle">
        <h5 class="black-text">2022 by Alkemy. All rights reserved.</h5>
    </div>
</div>
