<div mat-dialog-title>
    <h3 class="text-center">{{data.title}}</h3>
</div>
<!--Contenido condicionado-->
<div mat-dialog-content class="contenido-dialogo">
    <!--Formularios que el dialogo va a contener para la edicion o creacion de una categoria-->
    <ng-template [ngIf]="data.type === 'edit'||data.type === 'save'||data.type ===''">
        <app-categories-form></app-categories-form>
    </ng-template>
    <ng-template [ngIf]="data.type === 'edit-testimonial'||data.type === 'save-testimonial'">
        <app-testimonial-form></app-testimonial-form>
    </ng-template>
    <!--Dialogo para confirmacion de eliminacion de la categoria seleccionada-->
    <ng-template [ngIf]="data.type === 'before-deleted'">
        <div class="container d-flex flex-column align-items-center">
            <div class="container d-flex flex-column align-items-center">
                <span>
                    <p>¿Estás seguro de que quieres eliminar esta categoría?</p>
                </span>
            </div>
            <div class="btn-block my-2">
                <button mat-raised-button [mat-dialog-close]="true">Cancelar</button>
                <button mat-raised-button color="warn" (click)="onClickDelete()" class="mx-4">Eliminar</button>
            </div>
        </div>
    </ng-template>
    <!--Dialogo para visualizacion de imagen de categoria seleccionada-->
    <ng-template [ngIf]="data.type === 'image-view'">
        <div class="container d-flex flex-column align-items-center">
            <div class="container d-flex flex-column align-items-center">
                <img src="{{data.image}}" alt="" width="400px" height="350px">
            </div>
            <div class="btn-block my-2">
                <button mat-raised-button [mat-dialog-close]="true">Salir</button>
            </div>
        </div>
    </ng-template>
</div>