<div class="container">
    <h1>Formulario edicion Bienvenida</h1>
    <form action="" class="formBienvenida">
        <textarea name="titulo"  placeholder="Titulo" cols="50" rows="2"></textarea><br/>
        <textarea name="descripcion" minlength="20" placeholder="Bienvenida" cols="70" rows="8"></textarea><br/>
        <button type="submit">Guardar cambios</button>
    </form>
    <h1>Formulario edicion Slides</h1>
    <form action="" class="formSlides">
        <label for="id">id-Orden</label>
        <input type="number">
        <label for="image">Imagen</label>
        <input type="file" name="Seleccionar imagen " id="">
        <label for="text">Texto</label>
        <textarea name="texto"  cols="50" rows="3"></textarea><br/>
        <button type="submit">Guardar cambios</button>
    </form>
</div>